body {

	background-color: hsla(44, 100%, 87%, 70%);  
	margin: 0;
	padding: 0;

}

p {
	 margin: 0;
	 padding: 0; 
}

a {
	text-decoration: none;
	display: flex;
}

.map {
	/*background-color: #ffeba3;
*/	background-image: url("../img/Political-Map-of-the-World2.png");
 	background-repeat: no-repeat;
    background-origin: border-box;
    background-size: 131%;
    background-position: -5rem -3.5rem;
	font-size: 16px;
	width: 100%;
	height: 100%;
	opacity: 1;
}
a:visited, 
a:active {
	color: #000;

}

#flag {
	z-index: 0;
	width: 100vw;
	height: 100vh;
	margin: 0;
}

.gradient {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%; /* FF3.6-15 */
background: -moz-linear-gradient(left, hsla(184,81%,50%,0.8) 0%, hsla(0,0%,99%,0.01) 25%, hsla(0,0%,99%,0) 50%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, hsla(184,81%,50%,0.8) 0%,hsla(0,0%,99%,0.01) 25%,hsla(0,0%,99%,0) 50%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, hsla(184,81%,50%,0.8) 0%,hsla(0,0%,99%,0.01) 25%,hsla(0,0%,99%,0) 50%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc18d9e7', endColorstr='#00fcfcfc',GradientType=1 ); /* IE6-9 */
}	


article {
	display: flex;
	flex-flow: row;
	z-index: 1;
	position: absolute;
	top: 0;
}

.article--inner {
	width: 24vw;
	height: 100%;
	display: flex;
	flex-flow: column nowrap;
	flex: 1 0 auto;
	padding: 0 0 0 3rem;
}

h1 {
	font-family: 'Bungee Shade', cursive;
	font-size: 4rem;
	margin: 4rem 0 0 0;

	opacity: 1;
	color: #fff;

}

.choose {
    display: block;
    position: relative;
    left: -0.5rem;
    bottom: -1.5rem;
    width: 40%;
    min-height: 80px;
    font-family: 'Hind', sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    border: 1px solid #fff;
    border-radius: 50%;
    outline: none;
    opacity: 0.5;
    padding: 25px 10px;
}

.country-info {
	font-family: 'Hind', sans-serif;
    font-size: 1.5rem;
    opacity: 0.5;
    background-color: #fff;
    margin-top: 0;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
    padding: 25px 10px;
} 
.share-links {
	font-family: 'Hind', sans-serif;
	font-size: 1.5rem;
	opacity: 0.5;
	background-color: transparent;
	margin-top: 0;
	padding: 0 0 0 10px;

}

.share {
	display: inline-flex;
	flex-flow: row nowrap;
	background-color: #fff;
	font-family: 'Hind', sans-serif;
	font-size: 0.8rem;
	color: #fff;
	padding: 10px 10px 0 0 ;
	opacity: 0.6;
	position: absolute;
    bottom: -4.2rem;
	left: calc(31% - 10%);
  	left: -webkit-calc(31% - 10%);
  	border: 1px solid #fff;
    border-radius: 50%;
    padding: 25px 10px;

}

.twitter-share-button {
	display: inline-flex;
	align-content: stretch;
	color: #000;
}

.twitter-share-button:visited {
	color: #000;

}
.social {
	height: 50px;
	background-color: transparent;
	border: 1px solid white;
    border-radius: 50%;

}



